<footer>
    <div>
        <div>
            <div>
                <a href="index.html">
                    <img src="./assets/images/logo.png" alt="Logo">
                </a>
            </div>
            <div>
                <div>
                    <i class="fa-brands fa-instagram me-5"></i>
                    <i class="fa-brands fa-facebook-f me-5"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
</footer>