<footer class="border-t border-white">
    <div class="my-5">
        <div class="container mx-auto flex items-center justify-between px-4">
            <div>
                <a href="index.html">
                    <img src="./assets/images/logo.png" alt="Logo">
                </a>
            </div>
            <div class="text-center md:text-right">
                <div class="flex justify-center md:justify-end space-x-5 gap-6">
                    <i class="fa-brands fa-instagram text-3xl text-primaryColor cursor-pointer"></i>
                    <i class="fa-brands fa-facebook-f text-3xl text-primaryColor cursor-pointer"></i>
                    <i class="fa-brands fa-twitter text-3xl text-primaryColor cursor-pointer"></i>
                </div>
            </div>
        </div>
    </div>
</footer>